fastapi
uvicorn[standard]
pydantic[email]
python-dotenv
pinecone
langchain
langchain-openai
langchain-text-splitters
boto3
pypdf
langchain-community # Para embeddings HuggingFace
sentence-transformers # Para modelos de embeddings locales/HuggingFace
langchain-pinecone # Nueva dependencia recomendada
langgraph # For building the agent graph
tavily-python # For Tavily search tool
python-multipart # Para el manejo de datos de formularios en FastAPI
# Añade aquí otras dependencias (ej: langchain-ollama si usas Ollama)
# ragas
ragas[all]
datasets
evaluate
pytest
python-magic
supabase
beautifulsoup4
htmldiff2 # Replaced htmldiff with htmldiff2
genshi
html5lib
